<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        .r1 {
            width: 600px;;
            border: 1px solid red;
        }

        .d1 {
            width: 100px;
            border: 1px solid red;
        }

        .d2 {
            width: 200px;
            border: 1px solid red;
        }

        .t1 {
            width: 600px;
            height: 200px;
            border: 1px solid red;
            padding: 0px;
        }

        input {
            height: 30px;
            width: 300px;
            border: 1px solid cornflowerblue;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
        }

        a {
            text-decoration: none;
            font-size: 14px;
        }

        .text {
            width: 150px;
        }

        .div-inline {
            display: inline
        }

        img {
            float: left
        }

        .titlediv {
            width: auto;
            height: 60px;
            background-color: dodgerblue;
            font-family: 微软雅黑;
            font-size: 20px;
            align-items: center;
            color: #ffffff;
            text-align: center;
        }

        .subinput {
            height: 50px;
            width: 300px;
            background-color: #4dc71f;
            font-family: 微软雅黑;
            font-size: 20px;
            align-items: center;
            color: #ffffff;
            margin: 5px;
            padding: 5px;
        }

        .rightdiv {
            float: left;
            width: 300px;
            height: 300px;
            font-family: 微软雅黑;
            font-size: 16px;
            border-left: 1px solid lightgray;
            padding-left: 30px;
            padding-top: 30px;
            color: slategray
        }
    </style>
    <script language="JavaScript">

    </script>
</head>
<body>
<div>
    <table class="t1">
        <!--<% datas.forEach(function(score){ %>-->
        <tr class="r1">
            <td>
                <table>
                    <tr>
                        <td class="d1" style="width: 100px;"> 1</td>
                        <td>
                            <table>
                                <tr>
                                    <td class="d1" style="width: 120px;"> 111</td>
                                    <td class="d1" style="width: 120px;"> 222</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td class="d1" style="width: 120px;"> 1</td>
                                    <td class="d1" style="width: 120px;"> 2</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>

        <tr class="r2">
            <td>
                <table>
                    <tr>
                        <td class="d1" style="width: 100px;"> 1</td>
                        <td>
                            <table>
                                <tr>
                                    <td class="d1" style="width: 160px;">
                                        <table>
                                            <tr>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>
                                                <td class="d1" style="width: 20px;">1
                                                </td>

                                            </tr>
                                        </table>


                                    </td>
                                    <td class="d1" style="width: 80px;"> 222</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td class="d1" style="width: 240px;">
                                        <table>
                                            <tr>
                                                <td class="d1" style="width: 120px;">1
                                                </td>
                                                <td class="d1" style="width: 120px;">1
                                                </td>


                                            </tr>
                                            <tr>
                                                <td class="d1" style="width: 120px;">1
                                                </td>
                                                <td class="d1" style="width: 120px;">1
                                                </td>


                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="r3">
            <td>
                <table>
                    <tr>
                        <td class="d1"> 1</td>
                        <td class="d1" style="width: 240px;">
                            <table>
                                <tr>
                                    <td class="d1" style="width: 240px;">
                                        <table>
                                            <tr>
                                                <td class="d1" style="width: 80px;">1

                                                </td>
                                                <td class="d1" style="width: 80px;">1
                                                </td>
                                                <td class="d1" style="width: 80px;">1
                                                </td>


                                            </tr>
                                        </table>
                                    </td>


                                </tr>
                                <tr>
                                    <td class="d1" style="width: 240px;">
                                        <table>
                                            <tr>
                                                <td class="d1" style="width: 40px;">1

                                                </td>
                                                <td class="d1" style="width: 200px;">1
                                                </td>


                                            </tr>
                                        </table>
                                    </td>


                                </tr>
                            </table>


                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td class="d1" style="width: 240px;">
                                        <table>
                                            <tr>
                                                <td class="d1" style="width: 120px;">1
                                                </td>
                                                <td class="d1" style="width: 120px;">1
                                                </td>


                                            </tr>
                                            <tr>
                                                <td class="d1" style="width: 120px;">1
                                                </td>
                                                <td class="d1" style="width: 120px;">1
                                                </td>


                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="r4">
            <td>
                <table>
                    <tr>
                        <td class="d1" style="width: 100px;"> 1</td>
                        <td class="d1" style="width: 480px;">
                            <table>
                                <tr>
                                    <td class="d1" style="width: 300px;"> 1</td>
                                    <td class="d1" style="width: 80px;">
                                        tel

                                    </td>
                                    <td class="d1" style="width: 100px;">

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="r5">
            <td style="align-content: flex-end">
                <table style="margin-left: 60%;">
                    <tr>
                        <td class="d1" style="align-content: flex-end"> 11111</td>
                        <td class="d1"> 2</td>
                    </tr>
                    <tr>
                        <td class="d1"> 1</td>
                        <td class="d1"> 2</td>
                    </tr>
                    <tr>
                        <td class="d1"> 1</td>
                        <td class="d1"> 2</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--<%}%>-->
    </table>

</div>


</body>
</html>
